{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
{% endblock %}


{% block main %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4" style="padding-top: 20px">
                            {{ form.email.label }}
                            {{ form.email }}
                            <span style="color: #ba2121">{{ form.email.errors }}</span>
                        </div>


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>




                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}