{% load i18n %}{% autoescape off %}
{% blocktranslate %}درخواست شما به ريست گذرواژه تان در  {{ site_name }}.{% endblocktranslate %}

{% translate "لطفا به لينك زير برويد و گذرواژه جديدتان را وارد كنيد.:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'نام كاربري شما در صورت فراموشي::' %} {{ user.get_username }}

{% translate "براي استفاده از سايت ما از شما متشكريم." %}

{% blocktranslate %}تيم {{ site_name }} {% endblocktranslate %}

{% endautoescape %}

