{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
{% endblock %}


{% block main %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;width:70vh;height: 80vh" />
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    We have emailed you the instructions for setting the password. If there is an account with the email
                    you entered, you should receive these instructions soon.
                    If you do not receive an email, please check that the address you entered is the same as the one you
                    registered with, and also check your spam folder.
                </div>
            </div>
        </div>
    </section>

{% endblock %}