{% load static %}


<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'main/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
<link rel=" stylesheet" type="text/css" href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
<!--===============================================================================================-->